grammars/relaton-etsi.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="biblio-standoc.rng">
    <define name="status">
      <element name="status">
        <ref name="stage"/>
      </element>
    </define>
    <define name="stage">
      <element name="stage">
        <ref name="StageType"/>
      </element>
    </define>
    <define name="doctype">
      <element name="doctype">
        <optional>
          <attribute name="abbreviation">
            <ref name="DocumentTypeAbbreviation"/>
          </attribute>
        </optional>
        <ref name="DocumentType"/>
      </element>
    </define>
    <define name="DocumentType">
      <choice>
        <value>European Standard</value>
        <value>ETSI Standard</value>
        <value>ETSI Guide</value>
        <value>Technical Specification</value>
        <value>Group Specification</value>
        <value>Group Report</value>
        <value>Technical Report</value>
        <value>ETSI Technical Report</value>
        <value>GSM Technical Specification</value>
        <value>Special Report</value>
        <value>Technical Committee Reference Technical Report</value>
        <value>Technical Basis for Regulation</value>
        <value>European Telecommunication Standard</value>
        <value>Interim European Telecommunication Standard</value>
        <value>Norme Européenne de Télécommunication</value>
      </choice>
    </define>
  </include>
  <define name="BibDataExtensionType" combine="interleave">
    <ref name="marker"/>
    <zeroOrMore>
      <ref name="frequency"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="mandate"/>
    </zeroOrMore>
    <optional>
      <ref name="custom-collection"/>
    </optional>
  </define>
  <define name="StageType">
    <choice>
      <value>EN approval</value>
      <value>SG approval</value>
      <value>ES approval</value>
      <value>Published</value>
      <value>Withdrawn</value>
      <value>Historical</value>
    </choice>
  </define>
  <define name="DocumentTypeAbbreviation">
    <choice>
      <value>EN</value>
      <value>ES</value>
      <value>EG</value>
      <value>TS</value>
      <value>GS</value>
      <value>GR</value>
      <value>TR</value>
      <value>ETR</value>
      <value>GTS</value>
      <value>SR</value>
      <value>TCRTR</value>
      <value>TBR</value>
      <value>ETS</value>
      <value>I-ETS</value>
      <value>NET</value>
    </choice>
  </define>
  <define name="marker">
    <element name="marker">
      <choice>
        <value>Current</value>
        <value>Superseded</value>
      </choice>
    </element>
  </define>
  <define name="frequency">
    <element name="frequency">
      <text/>
    </element>
  </define>
  <define name="mandate">
    <element name="mandate">
      <text/>
    </element>
  </define>
  <define name="custom-collection">
    <element name="custom-collection">
      <choice>
        <value>HSs cited in OJ</value>
        <value>HSs not yet cited in OJ</value>
        <value>HSs RED cited in OJ</value>
        <value>HSs EMC cited in OJ</value>
      </choice>
    </element>
  </define>
</grammar>
