grammars/relaton-ogc.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="biblio-standoc.rng">
    <define name="DocumentType">
      <choice>
        <value>abstract-specification-topic</value>
        <value>best-practice</value>
        <value>change-request-supporting-document</value>
        <value>community-practice</value>
        <value>community-standard</value>
        <value>discussion-paper</value>
        <value>engineering-report</value>
        <value>other</value>
        <value>policy</value>
        <value>reference-model</value>
        <value>release-notes</value>
        <value>standard</value>
        <value>user-guide</value>
        <value>white-paper</value>
        <value>test-suite</value>
        <value>draft-standard</value>
      </choice>
    </define>
    <define name="DocumentSubtype">
      <choice>
        <value>conceptual-model</value>
        <value>conceptual-model-and-encoding</value>
        <value>conceptual-model-and-implementation</value>
        <value>encoding</value>
        <value>extension</value>
        <value>implementation</value>
        <value>profile</value>
        <value>profile-with-extension</value>
        <value>general</value>
      </choice>
    </define>
    <define name="stage">
      <element name="stage">
        <ref name="StageType"/>
      </element>
    </define>
  </include>
  <define name="StageType">
    <choice>
      <value>rfc</value>
      <value>candidate</value>
      <value>published</value>
      <value>deprecated</value>
      <value>retired</value>
      <value>legacy</value>
      <value>rescinded</value>
      <value>draft</value>
      <value>work-item-draft</value>
      <value>swg-draft</value>
      <value>oab-review</value>
      <value>public-ref</value>
      <value>tc-vote</value>
      <value>approved</value>
      <value>deprecated</value>
      <value>rescinded</value>
      <value>retired</value>
      <value>legacy</value>
    </choice>
  </define>
</grammar>
