gems/relaton-un/spec/schemas/relaton-un.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="biblio-standoc.rng">
    <define name="DocumentType">
      <choice>
        <value>recommendation</value>
        <value>plenary</value>
        <value>addendum</value>
        <value>communication</value>
        <value>corrigendum</value>
        <value>reissue</value>
        <value>agenda</value>
        <value>budgetary</value>
        <value>sec-gen-notes</value>
        <value>expert-report</value>
        <value>resolution</value>
      </choice>
    </define>
  </include>
  <define name="BibDataExtensionType" combine="interleave">
    <zeroOrMore>
      <ref name="submissionlanguage"/>
    </zeroOrMore>
    <optional>
      <ref name="distribution"/>
    </optional>
    <optional>
      <ref name="session"/>
    </optional>
    <optional>
      <ref name="job_number"/>
    </optional>
  </define>
  <define name="session">
    <element name="session">
      <optional>
        <ref name="session-number"/>
      </optional>
      <optional>
        <ref name="session-date"/>
      </optional>
      <zeroOrMore>
        <ref name="item-number"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="item-name"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="subitem-name"/>
      </zeroOrMore>
      <optional>
        <ref name="collaborator"/>
      </optional>
      <optional>
        <ref name="agenda-id"/>
      </optional>
      <optional>
        <ref name="item-footnote"/>
      </optional>
    </element>
  </define>
  <define name="session-number">
    <element name="number">
      <text/>
    </element>
  </define>
  <define name="session-date">
    <element name="session-date">
      <data type="date"/>
    </element>
  </define>
  <define name="item-number">
    <element name="item-number">
      <text/>
    </element>
  </define>
  <define name="collaborator">
    <element name="collaborator">
      <text/>
    </element>
  </define>
  <define name="agenda-id">
    <element name="agenda-id">
      <text/>
    </element>
  </define>
  <define name="item-name">
    <element name="item-name">
      <text/>
    </element>
  </define>
  <define name="subitem-name">
    <element name="subitem-name">
      <text/>
    </element>
  </define>
  <define name="item-footnote">
    <element name="item-footnote">
      <text/>
    </element>
  </define>
  <define name="submissionlanguage">
    <element name="submissionlanguage">
      <text/>
    </element>
  </define>
  <define name="distribution">
    <element name="distribution">
      <choice>
        <value>general</value>
        <value>limited</value>
        <value>restricted</value>
        <value>provisional</value>
      </choice>
    </element>
  </define>
  <define name="job_number">
    <element name="job_number">
      <text/>
    </element>
  </define>
</grammar>
