grammar/relaton-ieee.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="biblio-standoc.rng">
    <define name="DocumentType">
      <choice>
        <value>guide</value>
        <value>recommended-practice</value>
        <value>standard</value>
        <value>whitepaper</value>
        <value>redline</value>
        <value>other</value>
      </choice>
    </define>
    <define name="stage">
      <element name="stage">
        <choice>
          <value>draft</value>
          <value>approved</value>
          <value>superseded</value>
          <value>withdrawn</value>
        </choice>
      </element>
    </define>
    <define name="DocumentSubtype">
      <choice>
        <value>amendment</value>
        <value>corrigendum</value>
        <value>erratum</value>
        <value>icap</value>
        <value>document</value>
        <value>industry-connections-report</value>
        <value>industry-affiliate-network</value>
      </choice>
    </define>
  </include>
  <define name="BibDataExtensionType" combine="interleave">
    <optional>
      <ref name="trialuse">
        <a:documentation>Document published for a limited period of time.  Can apply to any of the document types
A Trial-Use standard is only described in the text of the introduction, it is not prominently displayed nor is it fielded data.
https://standards.ieee.org/about/policies/opman/sect5/</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="standard_status">
        <a:documentation>Status of standard: Inactive, Active, Superseded</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="standard_modified">
        <a:documentation>Modification status of standard: Draft, Withdrawn, Superseded, Approved, Reserved, Redline</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="pubstatus">
        <a:documentation>Publication status of standard: Active, Inactive</a:documentation>
      </ref>
    </optional>
    <optional>
      <!-- On-Hold status of standard: Hold, Publish -->
      <ref name="holdstatus"/>
    </optional>
    <optional>
      <ref name="program">
        <a:documentation>Program under which a white paper was authored</a:documentation>
      </ref>
    </optional>
  </define>
  <define name="standard_status">
    <element name="standard_status">
      <choice>
        <value>Inactive</value>
        <value>Active</value>
        <value>Superseded</value>
      </choice>
    </element>
  </define>
  <define name="standard_modified">
    <element name="standard_modified">
      <choice>
        <value>Draft</value>
        <value>Withdrawn</value>
        <value>Superseded</value>
        <value>Approved</value>
        <value>Reserved</value>
        <value>Redline</value>
      </choice>
    </element>
  </define>
  <define name="pubstatus">
    <element name="pubstatus">
      <choice>
        <value>Active</value>
        <value>Inactive</value>
      </choice>
    </element>
  </define>
  <define name="holdstatus">
    <element name="holdstatus">
      <choice>
        <value>Hold</value>
        <value>Publish</value>
      </choice>
    </element>
  </define>
  <define name="program">
    <element name="program">
      <text/>
    </element>
  </define>
  <define name="BibliographicDateType" combine="choice">
    <choice>
      <value>feedback-ended</value>
      <a:documentation>Date on which feedback on the document must be received by</a:documentation>
      <value>ieee-sasb-approved</value>
      <a:documentation>Date that the document was approved by the IEEE SA Standards Body</a:documentation>
    </choice>
  </define>
  <define name="trialuse">
    <element name="trial-use">
      <data type="boolean"/>
    </element>
  </define>
</grammar>
