gems/relaton-itu/spec/schemas/relaton-itu.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="biblio-standoc.rng">
    <define name="DocumentType">
      <choice>
        <value>recommendation</value>
        <value>recommendation-supplement</value>
        <value>recommendation-amendment</value>
        <value>recommendation-corrigendum</value>
        <value>recommendation-errata</value>
        <value>recommendation-annex</value>
        <value>focus-group</value>
        <value>implementers-guide</value>
        <value>technical-paper</value>
        <value>technical-report</value>
        <value>joint-itu-iso-iec</value>
        <value>resolution</value>
        <value>service-publication</value>
        <value>handbook</value>
        <value>question</value>
        <value>contribution</value>
      </choice>
    </define>
    <define name="structuredidentifier">
      <element name="structuredidentifier">
        <ref name="bureau"/>
        <element name="docnumber">
          <text/>
        </element>
        <optional>
          <element name="annexid">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="amendment">
            <data type="int"/>
          </element>
        </optional>
        <optional>
          <element name="corrigendum">
            <data type="int"/>
          </element>
        </optional>
      </element>
    </define>
  </include>
  <define name="BibDataExtensionType" combine="interleave">
    <zeroOrMore>
      <ref name="question">
        <a:documentation>The Questions that the document addresses.  A document can address multiple questions</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="recommendationstatus">
        <a:documentation>Status of approval of Recommendation status</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="ipnoticereceived">
        <a:documentation>ITU has received a notice of intellectual property, protected by patents, which may be required to implement this Recommendation</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="studyperiod">
        <a:documentation>Study period that the editorial groups working on this document fall under</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="meeting">
        <a:documentation>Name of meeting that generated this document (for resolutions, technical reports, technical papers, implementers guides) </a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="meeting-place">
        <a:documentation>Place of meeting that generated this document (for resolutions, technical reports, technical papers, implementers guides)</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="meeting-date">
        <a:documentation>Date of meeting that generated this document (for resolutions, technical reports, technical papers, implementers guides)</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="intended-type">
        <a:documentation>Intended type for this document (for technical reports) (`R`, `C`, `TD`) </a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="ext_source">
        <a:documentation>Source for this document (for technical reports, technical papers, implementers guides) </a:documentation>
      </ref>
    </optional>
  </define>
  <define name="meeting">
    <element name="meeting">
      <optional>
        <attribute name="acronym"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="meeting-place">
    <element name="meeting-place">
      <text/>
    </element>
  </define>
  <define name="meeting-date">
    <element name="meeting-date">
      <choice>
        <group>
          <element name="from">
            <ref name="ISO8601Date"/>
          </element>
          <optional>
            <element name="to">
              <ref name="ISO8601Date"/>
            </element>
          </optional>
        </group>
        <element name="on">
          <ref name="ISO8601Date"/>
        </element>
      </choice>
    </element>
  </define>
  <define name="intended-type">
    <element name="intended-type">
      <choice>
        <value>R</value>
        <value>C</value>
        <value>TD</value>
      </choice>
    </element>
  </define>
  <define name="ext_source">
    <element name="source">
      <text/>
    </element>
  </define>
  <define name="ipnoticereceived">
    <element name="ip-notice-received">
      <data type="boolean"/>
    </element>
  </define>
  <define name="recommendationstatus">
    <element name="recommendationstatus">
      <element name="from">
        <ref name="ISO8601Date"/>
      </element>
      <element name="to">
        <ref name="ISO8601Date"/>
      </element>
      <optional>
        <ref name="approvalstage"/>
      </optional>
    </element>
  </define>
  <define name="approvalstage">
    <element name="approvalstage">
      <attribute name="process">
        <choice>
          <value>tap</value>
          <value>aap</value>
        </choice>
      </attribute>
      <choice>
        <value>determined</value>
        <value>in-force</value>
        <value>a</value>
        <value>lc</value>
        <value>ac</value>
        <value>lj</value>
        <value>aj</value>
        <value>na</value>
        <value>ar</value>
        <value>ri</value>
        <value>at</value>
        <value>sg</value>
        <value>c</value>
        <value>tap</value>
      </choice>
    </element>
  </define>
  <define name="bureau">
    <element name="bureau">
      <choice>
        <value>T</value>
        <value>D</value>
        <value>R</value>
      </choice>
    </element>
  </define>
  <define name="ItuGroupType">
    <choice>
      <value>tsag</value>
      <value>study-group</value>
      <value>focus-group</value>
      <value>adhoc-group</value>
      <value>correspondence-group</value>
      <value>joint-coordination-activity</value>
      <value>working-party</value>
      <value>working-group</value>
      <value>rapporteur-group</value>
      <value>intersector-rapporteur-group</value>
      <value>regional-group</value>
    </choice>
  </define>
  <define name="studyperiod">
    <element name="studyperiod">
      <ref name="groupperiodstart"/>
      <optional>
        <ref name="groupperiodend"/>
      </optional>
    </element>
  </define>
  <define name="groupperiodstart">
    <element name="start">
      <data type="gYear"/>
    </element>
  </define>
  <define name="groupperiodend">
    <element name="end">
      <data type="gYear"/>
    </element>
  </define>
  <define name="question">
    <element name="question">
      <element name="identifier">
        <text/>
      </element>
      <optional>
        <element name="name">
          <text/>
        </element>
      </optional>
    </element>
  </define>
</grammar>
