gems/relaton-3gpp/spec/schemas/relaton-3gpp.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="biblio-standoc.rng">
    <define name="DocumentType">
      <choice>
        <value>TR</value>
        <value>TS</value>
      </choice>
    </define>
    <define name="DocumentSubtype">
      <choice>
        <value>spec</value>
        <value>release</value>
      </choice>
    </define>
  </include>
  <define name="BibDataExtensionType" combine="interleave">
    <optional>
      <ref name="radiotechnology"/>
    </optional>
    <optional>
      <ref name="common-ims-spec"/>
    </optional>
    <optional>
      <ref name="internal"/>
    </optional>
    <optional>
      <ref name="release"/>
    </optional>
  </define>
  <define name="RadioTechnologyType">
    <choice>
      <value>2G</value>
      <value>3G</value>
      <value>LTE</value>
      <value>5G</value>
    </choice>
  </define>
  <define name="radiotechnology">
    <element name="radiotechnology">
      <ref name="RadioTechnologyType"/>
    </element>
  </define>
  <define name="common-ims-spec">
    <element name="common-ims-spec">
      <data type="boolean"/>
    </element>
  </define>
  <define name="internal">
    <element name="internal">
      <data type="boolean"/>
    </element>
  </define>
  <define name="release">
    <element name="release">
      <optional>
        <element name="version2G">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="version3G">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="defunct">
          <data type="boolean"/>
        </element>
      </optional>
      <optional>
        <element name="wpm-code-2G">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="wpm-code-3G">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="freeze-meeting">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="freeze-stage1-meeting">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="freeze-stage2-meeting">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="freeze-stage3-meeting">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="close-meeting">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="project-start">
          <data type="date"/>
        </element>
      </optional>
      <optional>
        <element name="project-end">
          <data type="date"/>
        </element>
      </optional>
    </element>
  </define>
</grammar>
